@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: $color-bg;
  color: $color-text;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
}
